body{
  margin: 0;
}
header{
  background-color: #f1634f;
  padding: 67px 0;
}
header > h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
  text-align: center;;
  margin: 0 0 40px 0;
}

header > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

li > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}
 section{
   padding: 60px 80px;
 }
ul > li {
    margin: 0 5px;
    display: inline;
}
section > h3{
  margin: 0 0 40px 0;
}

p{
  width: 60%;
  float: right;
}

#about > p{
  float: right;
  width: 60%;
}
#about > div{
  width: 40%;
  display: inline-block;
}
#about > div > img{
  width: 90%
}
